*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 255, 132);
}
.chronometre{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    width: 340px;
    text-align: center;

}
.tim{
    border: 2px solid rgb(111, 107, 107);
    width: 100%;
    border-radius: 6px;
    padding: 5px;
    margin-bottom: 8px;
    font-size: 25px;
}
.tim span{
    font-family: 'Dancing Script', cursive;
    padding: 5px;
}
.controle{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
button{
    background-color: green;
    color: #fff;
    border:  none;
    padding: 10px 20px;
    border-radius: 5px;
    width: 31%;
    transition: 0.5s;
    letter-spacing: 1px;
    cursor: pointer;
}

.controle button:hover{
    transform: scale(0.9);
}